<% @schedules.each do |schedule| %>
<div class="schedule_wrapper">
	<h2 class="title"><%= link_to schedule.title, schedule %></h2>
	<p class="date"><% schedule.created_at.strftime("%B, %d, %Y") %></p>
</div>
<% end %>